* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
  margin: 18px 0px;
  /*line-height: 26px;*/
}

p, body {
  margin: 33px;
  font-size: 13px;
}

table th {
  padding: 1px 1px 5px;
}

table td {
  padding: 1px 5px 7px;
}

.field {
  display: block;
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}

.flash {
  color: green;
}
